RewriteEngine On
RewriteBase /pos

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ /pos/$1 [R=301,L]

# Login route
RewriteRule ^login$ signin.php [L]

# Clean URLs - List pages
RewriteRule ^stores/list$ stores/store_list.php [L]
RewriteRule ^stores/add$ stores/add_store.php [L]
RewriteRule ^stores/edit$ stores/add_store.php [L]

RewriteRule ^currency/list$ currency/currency_list.php [L]
RewriteRule ^currency/add$ currency/add_currency.php [L]
RewriteRule ^currency/add/([0-9]+)$ currency/add_currency.php?id=$1 [L]
RewriteRule ^currency/edit/([0-9]+)$ currency/add_currency.php?id=$1 [L]

RewriteRule ^payment-methods/list$ payment_methods/payment_method_list.php [L]
RewriteRule ^payment-methods/add$ payment_methods/add_payment_method.php [L]
RewriteRule ^payment-methods/save$ payment_methods/save_payment_method.php [L]
RewriteRule ^payment-methods/edit/([0-9]+)$ payment_methods/add_payment_method.php?id=$1 [L]

RewriteRule ^units/list$ units/unit_list.php [L]
RewriteRule ^units/edit/([0-9]+)$ units/add_unit.php?id=$1 [L]
RewriteRule ^units/add/([0-9]+)$ units/add_unit.php?id=$1 [L]
RewriteRule ^units/save$ units/save_unit.php [L]
RewriteRule ^units/add$ units/add_unit.php [L]


RewriteRule ^brands/list$ brands/brand_list.php [L]
RewriteRule ^brands/add$ brands/add_brand.php [L]
RewriteRule ^brands/edit/([0-9]+)$ brands/add_brand.php?id=$1 [L]

RewriteRule ^taxrates/list$ taxrates/taxrate_list.php [L]
RewriteRule ^taxrates/add$ taxrates/add_taxrate.php [L]
RewriteRule ^taxrates/edit/([0-9]+)$ taxrates/add_taxrate.php?id=$1 [L]
# RewriteRule ^taxrates/edit$ taxrates/add_taxrate.php [L]



# Boxes Routes
RewriteRule ^boxes/list$ boxes/box_list.php [L]
RewriteRule ^boxes/add$ boxes/add_box.php [L]
RewriteRule ^boxes/save$ boxes/save_box.php [L]
RewriteRule ^boxes/edit/([0-9]+)$ boxes/add_box.php?id=$1 [L]


# Default route
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^$ index.php [L]
