/* Completely hide sidebar on POS page */
#sidebar {
    display: none !important;
}

#sidebar-toggle-container {
    display: none !important;
}

#main-content {
    margin-left: 0 !important;
    width: 100% !important;
}

.app-wrapper {
    display: block !important;
}

/* Invisible Scrollbar but scrollable */
.invisible-scrollbar::-webkit-scrollbar {
    display: none;
}
.invisible-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
